 {% load static %}

<!DOCTYPE html>
<html lang="es">
    <head>
       
        <title>MUEBLERIA</title>
        <meta charset="UTF-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'css/mis_estilos.css' %}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap" rel="stylesheet">

        
    </head>
    <body>
        <div class="container">
            <div class="contenedor">
                    {% include 'header.html' %}
                    {% include 'nav.html' %}
                    <header>
                        <div id="bloque_login">
                    </header>          
                    {% block content %}

                    {% endblock %}
                    
        </div>
            {% include 'footer.html' %}
        </div>

        <script src="{% static 'bootstrap/jquery/jquery.js'%}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
        <script src="{% static 'js/script.js'%}"></script>

    </body>
</html>