
{% extends "registration/layout.html" %}

{% load static %}
{% include 'header.html'%}

{% include 'nav.html'%}

{% block content %}

{% if form.errors %}
<p>Tu usuario y contraseña no coinciden. Por favor intenta otra vez.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Tu cuenta no tiene acceso a esta pagina, Para continuar por favor ingrese con un una cuenta </p>
    {% else %}
    <p>Por favor ingrese con una cuenta para ver esta pagina.</p>
    {% endif %}
{% endif %}

<form method="POST" action="{% url 'login' %}">
      {% csrf_token %}
      <div class="formulario">
        <div class="contenedor_form">
            <div class="campos_forms">
              <p class="eqtiqueta_form">Usuario</p>
              <input class="input_campo" type="text" name="username" placeholder="usuario" id="username">
            </div>
          
            <div class="campos_forms">
              <p class="eqtiqueta_form">Contraseña</p>
              <input class="input_campo" type="text" name="password" placeholder="Password" id="password">
            </div>

            <div class="campos_forms" style="margin-top: 2em;">
              <input class="boton_ver_mas" type="submit" value="Login" />
            </div>
        </div>
      </div>
     

</form>

{# Assumes you setup the password_reset view in your URLconf #}
<div class="contenedor_link_log">
  <p><a class = "links_login" href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a></p>
  <p><a class = "links_login" href="{% url 'Registro' %}">Soy Nuevo</a></p>
</div>


{% endblock %}