{% extends "layout.html" %}

{% block title %} 
    Carrito
{%endblock%}

{% block content %} 
   
    {% if carrito %}
        {%if mensaje %}
            {{mensaje}}
        {% endif %}
        <table>
            <tr class="row_tabla">
                <th class="head_tabla">Titulo</th>
                <th class="head_tabla">Precio</th>
                <th class="head_tabla">Cantidad</th>
                <th class="head_tabla">-</th>
            </tr>

        {% for producto in carrito %}


            <tr class="row_tabla">
                <td class="col_tabla titulo">{{producto.productos.titulo}}</td>
                <td class="col_tabla col_items precio">{{producto.productos.precio}}</td>
                <td class="col_tabla col_items cantidad">{{producto.cantidad}}</td>
                <td class="col_tabla col_items eliminar link_producto"><a class="link_producto" href="{% url 'EliminarDelCarrito' producto.productos.id %}">Eliminar</a></td>
            </tr>
            {% endfor %}



        </table>

            <div><span>Total : $</span>{{total}}</div>
            <div><a href="">Finalizar compra</a></div>
    {% else %}
      {{vacio}}
    {% endif %}
    
    
    
  

{%endblock%}