{% extends "layout.html" %}

{% block title %} 
    Agregar Producto
{%endblock%}


{% block content %} 

<form action="{% url 'Agregar' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <p id='mensaje' hidden=true>{{mensaje}}</p>
        {{error}}
        
        
        {% if mensaje %}
            <script>
                mensaje = document.querySelector('#mensaje')
                mensaje.hidden = false
                setTimeout(function(){ 
                    mensaje.hidden = true
                }, 7000);
            </script>
        {% endif %}

        

         <div>
            <label for="{{from.titulo}}">Titulo</label>
            {{form.titulo}}
         </div>
        
        <div>
            <label for="{{from.descripcion}}">Descripcion</label>
            <div></div>{{form.descripcion}}    
        </div>

        <div>
            <label for="{{from.precio}}">Precio</label>
            <div></div>{{form.precio}}   
        </div>
        
        <div>
            <label for="{{from.imagenProducto}}">Imagen</label>
            <div></div>{{form.imagenProducto}}   
        </div>
        
        <div>
            <label for="{{from.categoria_id}}">Categoria</label>
            {{form.categoria_id}}   
        </div>
        


        <input type="submit" value="Agregar">
</form>


<a href="{% url 'AgregarCategoria' %}">Agregar Categoria</a>
       

{%endblock%}

