{% extends "layout.html" %}

{% block title %} 
    Agregar Producto
{%endblock%}


{% block content %} 

{% load static %}

<form action="{% url 'Agregar' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <p id='mensaje' hidden=true>{{mensaje}}</p>
        {{error}}
        
        
        {% if mensaje %}
            <script>
                mensaje = document.querySelector('#mensaje')
                mensaje.hidden = false
                setTimeout(function(){ 
                    mensaje.hidden = true
                }, 7000);
            </script>
        {% endif %}

        <div class="formulario">
        <div class="contenedor_form">


        <div class="campos_forms">
            <label class="eqtiqueta_form" for="{{from.titulo}}">Titulo</label>
            <textarea name="titulo" id="id_titulo" cols="40" rows="5" placeholder="Titulo" ></textarea>
         </div>
        
        <div class="campos_forms">
            <label class="eqtiqueta_form" for="{{from.descripcion}}">Descripcion</label>
            <textarea name="descripcion" id="id_descripcion" cols="40" rows="5" placeholder="Descripcion" ></textarea>  
        </div>

        <div class="campos_forms">
            <label class="eqtiqueta_form" for="{{from.precio}}">Precio</label>
            <input class="input_campo" type="number" name="precio" step="any" required="" id="id_precio" placeholder="$ Precio">
        </div>
        
        <div class="campos_forms">
            <label class="eqtiqueta_form" for="{{from.imagenProducto}}">Imagen</label>
            <input class="input_campo" type="file" name="imagenProducto" accept="image/*" id="id_imagenProducto" placeholder="Imagen Producto"> 
        </div>
        
        <div class="campos_forms" style="border: #ccc dotted; margin-top: 2em;">
            
            <select class="input_campo" name="categoria_id" required="" id="id_categoria_id">
                <option value="Cabecera">Categorias</option>
                {% for categoria in categorias%}
                        <option value="{{categoria.id}}">{{categoria.descripcion}}</option>
                {% endfor %}
              </select>  
        </div>
        <div  class="campos_forms">
            <a class="link_agregar" href="{% url 'AgregarCategoria' %}">Agregar Categoria</a>
        </div>

        <div  class="campos_forms" style="margin-top: 2em;">
            <input class="boton_ver_mas" type="submit" value="Agregar" >
        </div>
                

        </div>
        </div>
</form>



       

{%endblock%}

