{% extends "layout.html" %}

{% block title %} 
    Producto
{%endblock%}


{% block content %} 
            <table>
                <tr>
                    <th>Titulo</th>
                    <th>Descripcion</th>
                    <th>Precio</th>
                </tr>
                {% for producto in productos %}
                            <tr>
                                <td>{{ producto.titulo}}</td>
                                <td>{{producto.descripcion}}</td>
                                <td>{{producto.precio}}</td>
                                <td><a href="{% url 'verProducto' producto.id %}">Ver mas</a></td>
                            </tr>
                {% endfor %}
            </table>
{%endblock%}