{% extends "layout.html" %}

{% block title %} 
    Producto
{%endblock%}


{% block content %} 

            {% if mensaje%}
                <div id="mensaje">{{mensaje}}</div>
                <script>
                    mensaje = document.querySelector('#mensaje')
                    mensaje.hidden = false
                    setTimeout(function(){ 
                        mensaje.hidden = true
                    }, 7000);
                </script>
            {% endif %}
            <table>
                <tr>
                    <th class="head_tabla">Titulo</th>
                    <th class="head_tabla">Descripcion</th>
                    <th class="head_tabla">Precio</th>
                    <th class="head_tabla">  </th>
                </tr>
                {% for producto in productos %}
                            <tr class="row_tabla">
                                <td class="col_tabla">{{ producto.titulo}}</td>
                                <td class="col_tabla descripcion">{{producto.descripcion}}</td>
                                <td class="col_tabla">{{producto.precio}}</td>
                                <td class="col_tabla"><a class=" link_producto"href="{% url 'verProducto' producto.id %}">Ver mas</a></td>
                            </tr>
                {% endfor %}
            </table>
{%endblock%}