{% extends "layout.html" %}

{% block title %} 
    Productos Encontrados
{%endblock%}


{% block content %} 

    

    {% if mensaje %}

        <div>{{categoria}}</div>
        <div>{{mensaje}}</div>

    {% elif productos_encontrados %}
        <p>Esta buscando : {{query}}</p>
            <p>Productos encontrados: {{productos_encontrados|length}} productos</p>

                            {% for pr in productos_encontrados %}

                                    <div>{{pr.titulo}}</div>
                                    <div>{{pr.descripcion}}</div>
                                    <div>{{pr.precio}}</div>
                                    <div>{{pr.categoria}}</div>
                                    <img src="{{ pr.imagenProducto.url }}" alt="" width="20%" height="35%">
                                    <a href="{% url 'verProducto' pr.id %}">Ver mas</a>

                            {%endfor%} 
        {%elif productos%}
                {% for pr in productos%}
                <div>{{categoria}}</div>
                <div class="card">
                        <div>{{pr.titulo}}</div>
                        <div>{{pr.descripcion}}</div>
                        <div>{{pr.precio}}</div>
                        <div>{{pr.categoria}}</div>
                        <img src="{{ pr.imagenProducto.url }}" alt="" width="20%" height="35%">
                        <a href="{% url 'verProducto' pr.id %}">Ver mas</a>
                </div>
        {%endfor%}


        {% else %}
                 <p>Articulos no encontrados ...</p>

        {%endif%}


{%endblock%}