{% extends "layout.html" %}

{% block title %} 
    Producto
{%endblock%}


{% block content %} 

        <div>{{mensaje}}</div>

        {% if producto %}

                <div>
                    <img src="{{producto.imagenProducto.url}}" alt="" width="30%" height="55%">
                    <p><span>Producto: </span>{{producto.titulo}}</p>
                    <p><span>Descripcion: </span>{{producto.descripcion}}</p>
                    <p><span>Precio: </span>{{producto.precio}}</p>
                    
                    <a href="">Comprar</a>
                    <a href="{% url 'AgregarCarrito' producto.id  %}">Agregar al carrito</a>
                    {% if request.user.is_superuser %}
                        <a href="{% url 'EditarProducto' producto.id  %}">Editar Producto</a>
                        <a href="{% url 'EliminarProducto' producto.id  %}">Eliminar Producto</a>
                    {% endif %}
                </div>
           

        {% else %}
                {{vacio}}
        {% endif %}  
{%endblock%}