{% extends "layout.html" %}

{% block title %} 
    Acerca de
{%endblock%}


{% block content %} 


    <p>Hay mucho más detrás de JAGUATERE KAA SA aparte de nuestros muebles de precios bajos. Desde nuestro abastecimiento responsable de algodón y madera hasta nuestra postura sobre los derechos humanos, pasando por cómo trabajamos en JAGUATERE KAA SA y nuestro enfoque de diseño democrático.</p>

    <p>Queremos hablar en voz alta y clara sobre igualdad de oportunidades, igualdad de salarios, equilibrio entre hombres y mujeres en todas nuestras áreas. Cada día luchamos por conseguir nuestro objetivo: una igualdad 100% real. Nada más. Nada menos.</p>

    <p>Durante los últimos años hemos contado diferentes historias de igualdad entre hombres y mujeres en nuestra compañía.
    Son todas aquellas personas que están detrás de nuestros datos de corresponsabilidad, igualdad de oportunidades, igualdad de salarios y nuestro objetivo 50/50.</p>
   

{%endblock%}