<header>

    {% load static %}
    <img src="{% static 'img/logo.png.url' %}" alt="logo_pagina">

    {% if user.is_authenticated %}

        {% if request.user.is_superuser %}
        <div>
            <a href="{% url 'Logout' %}">SALIR</a> 
        </div>
        {%else%}
            <div>
                <a href="{% url 'Carrito' %}">CARRITO</a> 
                <a href="{% url 'Logout' %}">SALIR</a> 
            </div>
        {% endif %}

    {%else%}
        <a href="{% url 'Login'%}">LOGIN</a>
        <a href="{% url 'Registro' %}">REGISTRO</a>
        <a href="{% url 'Carrito' %}">CARRITO</a> 
    {% endif %}
        


</header>