<header >

    <div class="row">

           
            <div class="col" id="logo_marca" >
                <div class="logo_jk">
                     <a href="{% url 'Home' %}" style="text-decoration: none;">
                         <p id="logo_jk">SM</p>
                    </a>  
                </div>
                <a href="{% url 'Home' %}" style="text-decoration: none;">
                    <p id="marca">SKAU Muebles</p>
                </a>  
            </div>

            
            <div class="col" id="opciones_user">
                {% if user.is_authenticated %}
                    <div class="usuarioConectado">
                        <p class="usuario">Usuario: </p>
                        <p class="usuario_conactado">{{ user.get_full_name }}</p>
                    </div>
                {% endif%}
                <div class="opciones">
                    {% if user.is_authenticated %}
                            {% if request.user.is_superuser %}
                                    <a class="boton_opciones_user" href="{% url 'Logout' %}">SALIR</a> 
                            {%else%}
                                <div class="row">
                                        <a class="boton_opciones_user col col-lg-6 col-sm-12 col-xs-12" href="{% url 'Carrito' %}">CARRITO</a> 
                                        <a class="boton_opciones_user col col-lg-6 col-sm-12 col-xs-12" href="{% url 'Logout' %}">SALIR</a> 
                                </div>
                                        
                    
                            {% endif %}
                    {%else%}
                            <div class="row" >
                                <a class="boton_opciones_user col-lg-4 col-sm-12 col-xs-12 mr-auto" href="{% url 'Login'%}">LOGIN</a>
                                <a class="boton_opciones_user col-lg-4 col-sm-12 col-xs-12 mr-auto" href="{% url 'Registro' %}">REGISTRO</a>
                                <a class="boton_opciones_user col-lg-4 " href="{% url 'Carrito' %}">CARRITO</a> 
                            </div>
                                
                    {% endif %}
                </div>


            </div> 
    <!-- </div>     -->


</header>