{% extends "layout.html" %}

{% block title %} 
    Inicio
{%endblock%}


{% block content %}  



<div class="container">


    <div id="slogan">Encuentra la inspiración, las ideas y los productos ideales para cada rincón de tu vida en el hogar. Tenemos todo lo que necesitas para hacer que el espacio en el que vives sea auténticamente tuyo</div>


    {% for pr in ultimos %}
        <div class="card">
            <img src="{{ pr.imagenProducto.url }}" alt="" width="20%" height="35%">
            <div>{{pr.titulo}}</div>
            <div>${{pr.precio}}</div>
            <a href="{% url 'verProducto' pr.id %}">Ver mas</a>
        </div>
    {%endfor%} 

    <p>Otros ... </p>
    
 

        <table>
               {% for pr in otros %}

                <tr>
                    <td>{{pr.titulo}}</td>
                    <td>{{pr.descripcion}}</td>
                    <td>{{pr.precio}}</td>
                    <td>{{pr.}}</td>
                    <td><a href="{% url 'verProducto' pr.id %}">Ver mas</a></td>
                </tr>
               {%endfor%} 

        </table>
       

    

</div>
 
{%endblock%}
