{% extends "layout.html" %}

{% block title %} 
    Contacto
{%endblock%}


{% block content %} 
    <h3>Contáctenos</h3>
    {% if formulario.errors %}
    <p style="color:red;">Revisa este campo</p>
    {%endif%}

    <div class="row">
    <div class="col-lg-4 col-sm-6 col-md-6 col-xs-12 d-flex align-items-stretch">

    </div>

    <form action="" method="POST">

            {% csrf_token %}

            <div class="formulario">
                <div class="contenedor_form">
                  <div class="campos_forms">
                      <p class="eqtiqueta_form">Asunto</p>
                      <input  type="text" name="asunto" placeholder="Asunto">                  
                    </div>
                    <div class="campos_forms">
                      <p class="eqtiqueta_form">Email</p>
                      <input  type="email" name="email" placeholder="Email">
                    </div>
                    <div class="campos_forms">
                      <p class="eqtiqueta_form">Mensaje</p>
                      <textarea  name="mensaje" id="mensaje"  rows="5" placeholder="Mensaje"></textarea>
                    </div>
                    
                    <div class="campos_forms" style="margin-top: 2em;">
                      <input class="boton_enviar" type="submit" value="Enviar"/>
                    </div>
              </div>
            </div>


        </form>
      </div>
      </div>
{%endblock%}

  